
$bgcolor : rgb(40, 158, 255);

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body{
  height: auto;
  min-height: 100%;
  background: $bgcolor;
}

.post-list-item{
  cursor: pointer;
}

.card{
  border: none;
}

.post-image-container{
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(52, 106, 255), rgb(162, 210, 255));


  border: none;
}

.post-image{
  max-height: 350px;
  width: auto;
}

.title-text{
  font-size: 30px;
}

.content-text{
  font-size: 20px;
}

.navbar{
  margin-bottom: 200px;
}

.all-posts{
  padding-top:  70px;
}

.post-container{
  padding-top:  70px;
}

.newpost-container{
  padding-top:  70px;
}


.card-bot{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.card-button{
  flex: 1;
}

.card-body{
  padding-bottom: 40px;
}

